/* pages/health/health.wxss */

// 标题栏样式
.header-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: env(safe-area-inset-top);
  background-color: #FAFBFC;
  border-bottom: 1px solid #D8D8D8;
  text-align: center;

  text {
    font-size: 16px;
    font-weight: bold;
  }
}

// 搜索栏样式
.search-bar {
  padding: 15px;
  background-color: #FAFBFC;
  border-bottom: 1px solid #D8D8D8;
  position: relative;

  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
  }
}

.search-results {
  position: absolute;
  top: 100%; // 将搜索结果定位在输入框的正下方
  left: 0;
  width: 100%; // 使搜索结果宽度与输入框相同
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; // 确保在其他内容之上

  .result-item {
    padding: 10px;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #f5f5f5;
    }
  }
}

// 图片容器样式
.image-container {
  margin: 10px;
  text-align: center;

  image {
    width: 100%;
    max-height: 200px;
  }
}

// 组件行样式
.component-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  .icon {
    width: 24px;
    height: 24px;
  }

  .component-text {
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
    text-align: left;
  }
}

// 底部 Tab Bar 样式
.tab-bar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #FAFBFC;
  border-top: 1px solid #D8D8D8;
  
  .tab-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    flex-grow: 1;

    image {
      width: 24px;
      height: 24px;
      margin-bottom: 3px;
    }

    text {
      font-size: 12px;
    }
  }

  .active {
    color: #1AAD19;

    image {
      width: 24px;
      height: 24px;
      margin-bottom: 3px;
    }

    text {
      font-weight: bold;
    }
  }
}
